<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Esempio</title>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		<script src="Libs/angular.min.js"></script>
		<script src="Libs/angular-animate.min.js"></script>
		<script src="Libs/angular-aria.min.js"></script>
		<script src="Libs/angular-ui-router.min.js"></script>
		<script src="Libs/angular-messages.min.js"></script>
		<script src="Libs/angular-material.min.js"></script>
		<script src="App/source.js"></script>
		<link rel="stylesheet" href="Layouts/angular-material.min.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body ng-app="myApp" layout="column">
	
		<!-- Titolo Applicazione -->
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools" ng-controller="ToolbarCtrl as toolbar">
				<md-button class="md-icon-button" aria-label="Settings" ng-click="toolbar.refresh()">
					<md-icon md-font-library="material-icons">refresh</md-icon>
				</md-button>
				<p md-truncate>Giocatori</p>
			</div>
		</md-toolbar>
	
		<!-- Corpo Applicazion -->
		<md-content layout-gt-sm="row" flex>
			
			<!-- Dettaglio Giocatore -->
			<md-card layout-padding flex layout="column" ng-controller="FormCtrl as myForm">
				<form name="form1" layout="column" flex>
					<md-input-container>
						<label>Nome</label>
						<input my-valid-name ng-model="myForm.Player.Nome"  ng-required="true" md-maxlength="30">
						<div ng-messages="form1.Nome.$error">
							<div ng-message="required">Campo Obbligatorio</div>
							<div ng-message="md-maxlength">Nome Troppo Lungo</div>
							<div ng-message="myvalidname">I caratteri numerici non sono accettati</div>
						</div>
					</md-input-container>
					
					<md-input-container>
						<label>Cognome</label>
						<input my-valid-name ng-model="myForm.Player.Cognome"  ng-required="true" md-maxlength="30">
						<div ng-messages="form1.Cognome.$error">
							<div ng-message="required">Campo Obbligatorio</div>
							<div ng-message="md-maxlength">Nome Troppo Lungo</div>
							<div ng-message="myvalidname">I caratteri numerici non sono accettati</div>
						</div>
					</md-input-container>

					<md-input-container>
						<label>Anno di nascita (1970-2017)</label>
						<input type="number" min="1970" max="2017" ng-model="myForm.Player.AnnoDiNascita" ng-required="true">
				        <span ng-bind="ctrl.date1" style="display: block; margin-top: 5px;"></span>
						
					</md-input-container>

					<md-input-container>
						<label>Numero maglia (0-50)</label>
						<input type="number" min="0" max="50" ng-model="myForm.Player.Maglia" ng-required="true">
				        <span ng-bind="ctrl.date1" style="display: block; margin-top: 5px;"></span>
						
					</md-input-container>


					
					<div layout="row">
						<md-button ng-click="myForm.newPlayer()" class="md-primary">Nuovo</md-button>
						<span flex></span>
						<md-button ng-disabled="!form1.$valid" class="md-warn" ng-click="myForm.savePlayer()">Salva Giocatore</md-button>
						<span flex></span>
						<md-button ng-disabled="{{myForm.next}}" class="md-warn" ng-href="partite.html" id="next">Prosegui</md-button>
						<span flex></span>
						<md-button class="md-warn" id="delete" ng-click="myForm.deleteLastPlayer()">Elimina ultimo giocatore inserito</md-button>
					</div>
				</form>
			</md-card>
			
			<!-- Lista Giocatori -->
			<md-content layout="column" flex layout-padding ng-controller="ListsCtrl as myList">
				<h4><b>Squadra:</b> {{ myList.squadra.nomeSquadra | capitalizeFirstLetter }} <b>Città:</b> {{ myList.squadra.nomeCitta | capitalizeFirstLetter }}</h4>
				<md-list>
					<md-list-item class="md-3-line" ng-repeat="player in myList.listPlayer()">
						<div class="md-list-item-text" layout="column" style="margin-bottom: 20px;">
							<h4><b>Nome:</b> {{ player.Nome | capitalizeFirstLetter }} </h4> 
							<h4><b>Cognome:</b> {{ player.Cognome | capitalizeFirstLetter }} </h4> 
							<h4 hide show-gt-sm><b>Anno di Nascita:</b> {{ player.AnnoDiNascita }}</h4>
							<h4 hide show-gt-sm><b>Numero di maglia:</b> {{ player.Maglia }}</h4>
							<p hide show-gt-sm ng-if="myList.checkUnder20(player.AnnoDiNascita)"> Under 20 </p>
							<p hide show-gt-sm ng-if="!myList.checkUnder20(player.AnnoDiNascita)"> Non Under 20 </p>
						    <div> <hr> </div>
						  </div>
						
					</md-list-item>
				</md-list>
			</md-content>
			
		</md-content>
	</body>
</html>