<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Esempio</title>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		<script src="Libs/angular.min.js"></script>
		<script src="Libs/angular-animate.min.js"></script>
		<script src="Libs/angular-aria.min.js"></script>
		<script src="Libs/angular-ui-router.min.js"></script>
		<script src="Libs/angular-messages.min.js"></script>
		<script src="Libs/angular-material.min.js"></script>
		<script src="App/App.js"></script>
		<link rel="stylesheet" href="Layouts/angular-material.min.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	<body ng-app="myApp" layout="column">
		<!-- Titolo Applicazione -->
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true" ng-href="index.html">
					<md-icon md-font-library="material-icons" >refresh</md-icon>
				</md-button>
				<p md-truncate>Formazione Basket</p>
			</div>
		</md-toolbar>

		<md-card layout-padding flex layout="column" ng-controller="FormControlloSquadra as form" id="squadra">
				<form name="form1" layout="column" flex>
					<md-input-container>
						<label>Nome: </label>
						<input my-valid-name ng-model="form.nomeSquadra" name="Nome" ng-required="true" md-maxlength="30">
						<div ng-messages="form1.Nome.$error">
							<div ng-message="required">Campo Obbligatorio</div>
							<div ng-message="md-maxlength">Nome Troppo Lungo</div>
							<div ng-message="myvalidname">I caratteri numerici non sono accettati</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Citta:</label>
						<input my-valid-name ng-model="form.nomeCitta" name="Cognome" ng-required="true" md-maxlength="30">
						<div ng-messages="form1.Cognome.$error">
							<div ng-message="required">Campo Obbligatorio</div>
							<div ng-message="md-maxlength">Nome Troppo Lungo</div>
							<div ng-message="myvalidname">I caratteri numerici non sono accettati</div>
						</div>
					</md-input-container> 
					
					<div layout="row">
						<md-button ng-click="form.squadraVuota()" class="md-primary">Nuova Squadra</md-button>
						<span flex></span>
						<md-button ng-disabled="!form1.$valid" class="md-warn" ng-click="form.salvaSquadra()" ng-href="giocatori.html">Salva Squadra</md-button>
					</div>
				
				</form>
		</md-card>
		
	</body>
</html>