#header img	{
			height:100px;
			width:100px;
			margin-left:250px;
			float:left;
}
header	{
		width:1440px;
}
body	{
	margin:0px;
}
#titolo	{
		color: white;
		display: inline;
		float: left;
		margin: 30px 10px 10px 15px;
}
#header 	{
		background-color:#325789;
		position:fixed;
		width:100%
}
div#menu {
		width: 105px;
		height: 30px;
		background:#325789;
		transition: height 0.5s cubic-bezier(0.86,0,0.07,1) 0s;
		overflow:auto;
		overflow-y:hidden;
		overflow-x:hidden;
		position: absolute;
		display: inline;
}
#menu ul	{
		margin:0px;
		list-style:none;
		padding:0px;
}
div#menu:hover {
		height: 175px;
		overflow:auto;
		overflow-y:hidden;
		overflow-x:hidden;
		position: absolute;
		box-shadow: 10px 10px 5px #888888;
}
h2#menu{
		padding-top:100px;
		border: 2px solid black;
		padding:5px;
}
#page	{
}
#botnor	{
		margin: 30px 75px 30px 350px;
		width: 400px;
		display: inline;
		float: left;
}
#botnor h2	{
		display:inline;
		padding-right:40px;
		color:white;
}
#botnor h2 a	{
			text-decoration:none;
			color:white;	
}
li a 	{
	text-decoration:none;
	color:black;
}
span	{
	font-weight:bold;
}
#menu p{
		padding-top:100px;
}
body	{
	background-image:url('../../Immagini/ds.png');
}
#contenuto	{
			width:900px;
			margin:0px auto 20px auto;
			border-right: 1px solid black;
			border-left: 1px solid black;
			padding-top: 100px;
			background-color:white;
}
table	{
	margin-top:50px;
}
#contenuto p	{
			font-size:110%;
			margin-left:20px;
			margin-right:20px;
}
table td.firstrow	{
				padding-left:115px;
				font-size:125%;
}
table td.firstrow1	{
				padding-left:123px;
				font-size:125%;
}
table td.firstrow2	{
				padding-left:105px;
				font-size:125%;
				
}	
table td.firstrow3	{
				padding-left:115px;
				font-size:125%;
}
table	{
	margin-bottom:50px;
}
.si	{
	width: 110px;
	margin: 50px 0px 0px 78px;
}
#pri	{
		margin-top:375px;
}
h2 a.corso {
	text-decoration:none;
	color:black;
	margin: 100px 40px 25px 50px;
}
.spo	{
		float:left;
}
.no	{
	text-decoration:none;
	color:black;
}
#Php{
	    width: 143px;
		margin: 50px 0px 0px 60px;
}
#footer	{
		background:10px black;
		color:white;
		margin:0px;
}
#footer p	{
			margin:0px;
			text-align:right;
}
#bandiere img	{
				height: 30px;
				width: 100px;
				float: left;
				margin: 30px 11px 30px 13px;
}
	    
h1{
	text-align:center;
 }
  


#bello{
		float: right; 
		margin-right: 15px; 
		width: 452.73px;
		border: 2px solid red;	
	
	
}

th, td {
		border: 0px;
		padding-bottom: 5px;
	
}

td {
		padding-left: 10px;


	}

table {
		margin-right: 15px;
}